<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="referrer" content="no-referrer">

    <title>org.jdrupes.httpcodec by mnlipp</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>org.jdrupes.httpcodec</h1>
        <p>Non-blocking HTTP codec without any dependencies</p>

        <p class="view"><a href="https://github.com/mnlipp/org.jdrupes.httpcodec">View the Project on GitHub <small>mnlipp/org.jdrupes.httpcodec</small></a></p>


        <ul>
          <li><a href="https://github.com/mnlipp/org.jdrupes.httpcodec/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/mnlipp/org.jdrupes.httpcodec/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/mnlipp/org.jdrupes.httpcodec">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; <a href="https://github.com/site/terms">Terms</a>
        &mdash; <a href="https://github.com/site/privacy">Privacy</a> 
        &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>